body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
}

.loader {
  width: 100px;
  height: 100px;
}

.spinner-loader {
  width: 75%;
  height: 75%;

  border-radius: 100%;
  border-top: 12px solid black;
  border-right: 12px solid black;
  border-bottom: 12px solid grey;
  border-left: 12px solid grey;
  /* border: 10px solid black;  */
  animation: 0.5s linear infinite spin;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
