/*****************************************/
/*  0. reseta os padroes dos navegadores
/*****************************************/

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  /* box-shadow: inset 0 0 0 1px rgba(255 0 0 /50%);  */
}

/**********************************/
/*  1. estilos gerais
  /**********************************/

body {
  height: 100dvh;
  box-sizing: border-box;
  background-color: #f1f1ef;
  font-family: "Poppins", sans-serif;
  line-height: 1.3;
  font-size: 1rem;
  /* margin: 0 auto; */
}
