.cabecalho.skeleton {
  background-color: #f1f1ef;
}

.logo.skeleton h1 {
  color: transparent;
}

.logo.skeleton,
.navegacao__menu__links_autenticacao.skeleton,
.navegacao__menu__links.skeleton {
  background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
  background-size: 200% 100%;
  animation: efeito 1.5s infinite;
}

.btn__cadastro.skeleton,
.btn__login.skeleton,
.navegacao__menu__link.skeleton {
  opacity: 0;
}

@keyframes efeito {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
